body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;

    justify-content: center;
    min-height: 100vh;
    width: 100%;

    background-color: blueviolet;
}

.contacts-block {
    width: 30%;
    background-color: #ffffff;
}

.chat-block {
    width: 70%;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    display: flex;
    justify-content: space-between;
    background-color: #e9eae9;
}

.message-container {
    background-image: url(img/mine.jpg);

    overflow-y: scroll;
    /*  height: 80vh; */

    flex-grow: 1;
    flex-basis: 50vh;
}

.header {
    background-color: #e9eae9;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    border-left: 0.5px solid rgb(219, 218, 218);
    border-right: 0.5px solid rgb(219, 218, 218);
}

.header p {
    font-size: 0.8rem;
    color: rgb(175, 170, 170);
}

.info-container {
    display: flex;
}

img {
    border-radius: 50%;
    height: 50px;

    margin-right: 10px;
}

.fa-solid {
    font-size: 1rem;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

.conversation {
    display: flex;
    justify-content: space-between;
    /*  align-items: center; */

    padding: 10px;
    border-top: 0.5px solid rgb(219, 218, 218);
    border-bottom: 0.5px solid rgb(219, 218, 218);
}

.active {
    background-color: #e9ebeb;
}

.single-message {
    margin: 10px;

    position: relative;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
}

h1 {
    font-size: 1rem;
    font-weight: 500;
}

.conversation p {
    font-size: 0.8rem;
    color: rgb(175, 170, 170);
}

.sent-message {
    background-color: aqua;
    padding: 13px;
    max-width: 40%;
    border-radius: 0.6rem;
    background-color: #d5f9bb;

    display: flex;
    align-items: end;
}
.received-message {
    padding: 13px;

    max-width: 40%;

    border-radius: 0.6rem;
    background-color: #ffffff;

    display: flex;
    align-items: end;
}

.bubble-container {
    max-width: 100%;
    display: flex;
}

.b-sent {
    justify-content: end;
}

.b-received {
    justify-content: start;
}

.input-container {
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.input-container input {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 0.2rem;
}

.time-container h6 {
    font-size: 0.6rem;
    color: rgb(175, 170, 170);
    font-weight: 400;
}

.single-message h6 {
    font-size: 0.6rem;
    color: rgb(175, 170, 170);
    font-weight: 400;

    padding-left: 50px;
}

.notification {
    background-color: #8edafc;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    border-left: 0.5px solid rgb(219, 218, 218);
    border-right: 0.5px solid rgb(219, 218, 218);
}

.notification p {
    font-size: 0.8rem;
    color: rgb(113, 111, 111);
    text-decoration: underline;
}

.fa-bell-slash {
    color: #8edafc;
    font-size: 1.2rem;
}

.bell-container {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    border-radius: 505%;

    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;

    background-color: #e9eae9;
}

.search-container input {
    width: 95%;
    height: 30px;
    border: none;
    border-radius: 0.2rem;
}

.search-container .fa-solid {
    width: 5%;
    text-align: center;
    margin: 10px;
}

.fa-solid {
    color: rgb(113, 111, 111);
}
