body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;

    justify-content: center;
    min-height: 100vh;
    width: 100%;

    background-color: blueviolet;
}

.contacts-block {
    width: 30%;
    background-color: #ffffff;
}

.chat-block {
    width: 70%;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    display: flex;
    justify-content: space-between;
    background-color: #e9eae9;
}

.message-container {
    background-image: url(img/mine.jpg);
    height: 100%;
}

.header {
    background-color: #e9eae9;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container {
    display: flex;
}

img {
    border-radius: 50%;
    height: 50px;
}

.fa-solid {
    font-size: 1rem;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

.conversation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation:hover {
    background-color: #e9ebeb;
}

.active {
    background-color: #e9ebeb;
}

.single-message {
    background-color: rgb(82, 160, 26);

    margin: 10px;

    position: relative;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
}

.sent-message {
    background-color: aqua;
    padding: 13px;
    width: fit-content;
    border-radius: 0.6rem;
    background-color: #d5f9bb;

    display: flex;
    justify-content: end;
}
.received-message {
    padding: 13px;

    width: fit-content;

    border-radius: 0.6rem;
    background-color: #ffffff;

    display: flex;
    justify-content: end;
}

.bubble-container {
    width: 100%;
    display: flex;
}

.b-sent {
    justify-content: end;
}

.b-received {
    justify-content: start;
}
